/*---Mixins Y Variables ----*/
/*---Codigo General ---*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Great+Vibes&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.general {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template: 1fr 9fr 1fr/3fr 3fr 3fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }

.ingreso {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template: 1fr 9fr 1fr/3fr 3fr 3fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }

header {
  background-color: black;
  opacity: 0.5;
  z-index: 2;
  position: relative; }

h1 {
  display: flex;
  padding-left: 60vh;
  font-family: 'Cinzel', serif;
  color: white;
  position: relative; }

nav {
  flex-direction: column; }

#nav {
  z-index: 2;
  position: relative; }

#cotizaAhora {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-image: radial-gradient(circle, #e6a40a 0%, #010101 100%);
  color: white;
  transition: transform 0.3s; }
  #cotizaAhora a {
    text-decoration: none;
    color: white; }

button:hover {
  transform: scale(1.1); }

#pieDePagina {
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: center;
  padding-top: 5rem;
  z-index: 2;
  margin-top: 33rem; }

.listaFooter {
  display: flex;
  list-style: none;
  width: 100%;
  flex-direction: row-reverse;
  padding: 0.5rem; }
  .listaFooter li {
    margin-left: 1rem; }
    .listaFooter li p {
      color: white; }

/*----Codigo de cada pagina ---*/
.general {
  display: inline; }

#sectionPrincipal {
  width: 100vh;
  height: 100%;
  display: flex;
  align-content: center;
  padding-top: 2rem;
  padding-left: 60vh;
  font-family: 'Cinzel', serif;
  position: relative; }

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); }

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important; } }

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem; } }

#cotizador {
  display: flex;
  flex-direction: column; }

#card {
  display: flex;
  align-content: center;
  opacity: 0.9;
  margin-left: 50rem;
  margin-top: 5rem;
  padding-left: 5rem; }

#ancla {
  list-style: none;
  text-decoration: none;
  color: white; }

#parrafo {
  font-family: 'Cinzel', serif;
  color: black;
  font-size: 1.5625rem; }

.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5)); }

.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #84fab0, #8fd3f4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #84fab0, #8fd3f4); }
